:root{
  --gradientColor: linear-gradient(270deg, #FF0000, #FFA200);
  --hovers: #00ff00;
  --shadows: #868484aa;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  display: flex;
  flex-direction: column;
}
.navigation{
  display: flex;
  height: 10vh;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background: var(--gradientColor);
}
.active{
  text-decoration: none;
  margin-inline: auto;
  color: #ffffff;
  height: inherit;
  align-items: center;
  display: flex;
  width: 90px;
  justify-content: center;
}

.active:hover{
  border-bottom: 7px solid black;
}
.button{
  width: 40%;
  border-radius: 20px;
  border: 1px solid transparent;
  background: var(--gradientColor);
  background-size: cover;
  color: #f0eeee;
  cursor: pointer;
  padding: 10px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 3em;
  background-color: #ffe1b9;
}
.user-image{
  border-radius: 50%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 1px 7px 10px var(--shadows);
  width: fit-content;
  height: fit-content;
}
