:root{
  --gradientColor: linear-gradient(270deg, #FF0000, #FFA200)
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  display: flex;
  flex-direction: column;
}