* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: rgb(253, 249, 242);
}

.navigation {
  background-color: #ffa200;
  padding: 20px;
  width: 100%;
  display: flex;
}

.nav-item {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 0 auto;
}


input {
  padding: 10px;
  outline: none;
  border: 1px solid #cecece;
  border-radius: 10px;
  width: 100%;
  margin-block: 10px;
}

.button {
  grid-column: 1 / -1;
  width: 50%;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-block: 10px;
  background-color: #ffa200;
  color: white;
  padding: 7px;
}

.button2 {
  background-color: #ffa200;
  border: 1px solid transparent;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  justify-content: center;
  align-items: center;
}

.user {
  box-shadow: 1px 10px 10px #a5a5a5ee;
  padding: 2em;
  border-radius: 8px;
  background-color: whitesmoke;
  width: fit-content;
  margin-block: 12px;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  width: 60%;
}

.item {
  text-align: center;
  box-shadow: 1px 10px 10px #a5a5a5ee;
}

.container {
  display: flex;
  justify-content: center;
  width: 40%;
  padding: 20px;
}

.user-image {
  border-radius: 50%;
}

.user-title {
  font-style: italic;
}

.dashboard {
  padding: 2.5em;
}

.nest {
  display: flex;
  flex-direction: row;
}
.inactive{
  margin-inline: auto;
  background: #e8e8e8;
  padding: 8px;
  width: 70px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  text-decoration: none;
}
.active{
  margin-inline: auto;
  background: #000000;
  color: white;
  padding: 8px;
  width: 70px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  text-decoration: none;
}
.notFound{
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.nt-Title{
  font-size: 10em;
}
.nt-desc{
  font-weight: lighter;
  padding: 20px;
  text-align: center;
  margin-block: 10px;
}
.result{
  font-weight: lighter;
  padding: 20px;
  text-align: center;
  margin-block: 10px;
}
.inputs{
  display: flex;
  flex-direction: column;
  margin-block: 10px;
  align-items: center;
  width: 100%;
}
.flex{
  display: flex;
  flex-direction: column;
}
.login{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #eeeeeeee;
  box-shadow: 1px 10px 10px #a5a5a5ee;
  border-radius: 20px;
  width: fit-content;
  padding: 2.5em;
}